<p id="notice"><%= notice %></p>

<p>
  <strong>Dirección:</strong>
  <%= @subsidiary.address %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @subsidiary.city.name %>
</p>

<%= link_to 'Edit', edit_subsidiary_path(@subsidiary) %> |
<%= link_to 'Back', subsidiaries_path %>
