<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Zuko</title>
	
	
	<%= render 'partials/favicon'  %>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

	<%= csrf_meta_tags %>
	
</head>

<body class="<%= 'login-section' if current_page?(new_user_session_path)  %>" style="<%= 'overflow:hidden' if !user_signed_in?  %>">

	<% if notice %>
	  <div class="notice app-alerts z-depth-5 animated fadeInDown"> <i class="fa fa-check"></i> <%= notice %></div>
	<% end %>

	<% if alert %>
	
	  <div class="alert app-alerts z-depth-5 animated fadeInDown"> <i class="fa fa-times"></i>	<%= alert %></div>
	<% end %>


<div class="loadingbox center-align" id="loading">
	<%= render 'partials/preloader' %>
</div>

<%= render 'partials/header_menu' if user_signed_in?  %>

<div class="maincontainer" id="content">
	
	<%= yield %>
	
</div>
<%= render 'partials/footer' if user_signed_in?  %>


</body>
</html>
